@charset "UTF-8";
/* CSS Document */

/*///////////////////////////////////////////////////////////*/
@media only screen and (max-width: 1024px) {
	body{width:100vw; height:100vh;background-color:#D0D0D0;}
	.btn{display:none;}
	nav{background-color:none;}
	nav ul{position:relative; top:5vh; background-color:none; font-size:8px;}
	nav ul a{margin-bottom:5%;}
	.menu-toggle{right:10vw; }
}


